<div class="page-header">
    <h1>Regisztráció</h1>
</div>

<form class="form-horizontal" method="post" action="/auth/signup">
    <fieldset>
        <div class="form-group">
            <label for="surname" class="col-lg-2 control-label">Vezetéknév</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="surname" name="surname">
            </div>
        </div>
        <div class="form-group">
            <label for="forename" class="col-lg-2 control-label">Keresztnév</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="forename" name="forename">
            </div>
        </div>
        <div class="form-group">
            <label for="azon" class="col-lg-2 control-label">Felhasználónév</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="azon" name="azon">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Jelszó</label>
            <div class="col-lg-10">
                <input class="form-control" type="password" id="password" name="password">
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Regisztráció</button>
            </div>
        </div>
    </fieldset>
</form>