<h1>Hozzáadás</h1>
<form class="form-horizontal col-lg-8 col-lg-offset-2"
      method="post" action="/edit">
  <fieldset>
    <div class="form-group">
      <label for="etel" class="col-lg-2 control-label">Étel: </label>
      <div class="col-lg-10">
        <input type="text" class="form-control" 
               name="etel" id="etel" 
               placeholder="Almás pite"
               value={{nev}}>
      </div>
    </div>
    <div class="form-group">
      <label for="hozzavalo" class="col-lg-2 control-label">Hozzávalók: </label>
      <div class="col-lg-10">
        <input type="text" class="form-control" 
               name="hozzavalo" id="hozzavalo"
               placeholder="alma, liszt, margarin, porcukor..."
               value={{hozzavalo}}>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
        <button type="submit" class="btn btn-primary pull-left">Módosítás</button>
      </div>
    </div>
  </fieldset>
</form>