<h1>Üdvözöllek az oldalon!</h1>
<br><br>
<blockquote>
    Az oldalon recepteket tekinthetsz meg, illetve oszthatsz meg másokkal.
    Jó főzőcskézést!
</blockquote>
<br><br>
<div class="panel panel-default">
    <div class="panel-body">
        <p>Recept megosztáshoz szükséges a regisztráció</p>
    </div>
</div>